# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
.venv/
venv/

# Archivos generados
informes/
error_*.html

# Archivos temporales
*.tmp
*.log

# Configuraciones de IDE
.vscode/
.idea/

# Archivos grandes
*.xlsx

imagenes_obras/